
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {

    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #1d2a3d inset;
    box-shadow: 0 0 0px 1000px #1d2a3d inset;

    transition: background-color 5000s ease-in-out 0s;
}



.login-page{
    min-height:100vh;
    background:#0f172a;
    color:white;
    padding:40px;
}
.login-form{
    background: transparent;
   
}

.login-card{
    background:rgba(255,255,255,0.04);
    border-radius:18px;
    padding:30px;
    transition:.3s;
}
.login-card:hover{
     transform:translateY(-5px);
    box-shadow:0 0 20px rgba(0,170,255,.35);
}


.login-card input,
.login-card textarea{

    width:100%;
    padding:14px;
    margin-bottom:18px;

    border:none;
    outline:none;

    border-radius:10px;

    background:#1d2a3d;
    color:white;

}

